body{
    font-family: 'Lato', sans-serif; 
    width: 1920px;
    height: 4867px;
}
.head{
color: #272727;
font-size: 40px;
font-weight: 800;
line-height: normal;
display: flex;
}
.btn-primary{
    border: 0;
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}
.quote{
  display: flex;
  width: 634px;
  flex-direction: column;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.60);
f ont-size: 18px;
  font-weight: 400;
}
.banner{
    background-color: rgba(229, 84, 115, 0.10);
    width-fixed: 1920px;
    height-fixed: 850px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 30px 240px 0px 150px;
    justify-content: space-between;
}
.banner .tulip{
    width: 635px;
    height: 800px;
}

.about{
    padding: 220px;
    background-color: white;
    margin: auto;
   
    
}
.section-title{
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: 800; 
    margin-top: 200px;
}
.section-info{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 594px;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.img-6{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    margin: right 50px; ;
}
.img-5{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}

.img-7{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}
.flower-img{
    display: flex;
    background-color: white;
    gap: 20px;
    align-items: center;
    margin: auto;
    padding: 30px 220px;
    
}
.img-info{
    color: #272727;
    text-align: center;
    text-decoration-line: underline;
}
.shop-info{
    align-items: center;
    gap: 100px;
    padding: 30px 600px;
    height: 100px;
    width: 280px;
    background: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    margin: auto;
    display: flex;
}
.item-link{
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    justify-content: space-evenly;
}
.info-container{
    width: 88px;
    height: 88px;
}
.banner-2{
    background-color: rgba(229, 84, 115, 0.10);
    width: 1922px;
    height: 620px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 20px 240px 0 160px;
    justify-content: space-between;
    margin-top: 50px;
}
.head-2{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    display: flex; 
}
.quote-2{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary-2{
    display: inline-flex;
padding: 20px 43px;
align-items: flex;
gap: 10px;
border-radius: 8px;
background: #E55473;
box-shadow: white;
color: #FFF;
font-size: 20px;
font-weight: 700;
margin-left: 400px;
border: #E55473;
}
.off{
    color: red;
}
.flower-list{
    display: flex;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    gap: 30px;
    margin: auto;
    align-items: center;
    background-color: #FFF;
    margin-left: 200px;
    padding-top: 0;
}
.background-container{
    background-image: url(..//Rectangle\ 9.png);
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    text-align: center;
    margin-left: 200px;
}
.heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    
}
.heading-2{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.button-4{
    display: flex;
    width: 88px;
    height: 27.429px;
    border-radius: 8px;
    background: #E55473;
    width: 150px;
    height: 64px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: #FFF;
    text-align: center;
    display: flex;
   
}

.text{
    text-align: center;
    margin-top: 30px;
}
.email-input{
 display: flex;
 align-items: center;
}
.style{
    background-color: black;
    width: 1922px;
    height: 449px;
    max-width: 100%;
    margin-left: 10px;
    text-align: center;
}
.footer-head{
    
    font-family: Lato;
    font-weight: 800;
    
}.footer-body{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    width: 625px;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
}
.footer-copy{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.flower-2{
    color:#E55473;
}
.flower-3{
    color: #FFF;
}